html {
    background-color: rgb(41, 41, 41);
    color: rgb(117, 233, 109);
    font-family: 'Josefin Sans', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
ul {
    list-style-type:none;
}
a {
    color: rgb(253 184 93);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    animation: color-fade 2s infinite alternate;
}
@keyframes color-fade {
    0% {
      color: rgb(253 184 93);
    }
    50% {
      color: rgb(255, 225, 186);
    }
    100% {
      color: rgb(253 184 93);
    }
  }
  h1 {
    font-size: 4em;
    border-bottom: 1px solid;
    margin-bottom: 0px;
  }
  p {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 0px;
  }