body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0e2b2c;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    margin-bottom: 10px;
}
#calculator {
    display: flex;
    flex-wrap: wrap;
    border: 5px #f7f4b7 solid;
    box-shadow: 0px 0px 20px #2e8084;
    width: 200px;
}
#face {
    width: 200px;
    height: 50px;
    margin: 0px;
    border-top: 2px #2e8084 solid;
    border-left: 2px #2e8084 solid;
    border-right: 2px #2e8084 solid;
    border-bottom: 1px #2e8084 solid;
    padding-bottom: 0px;
    background-image: url(./img/bg.png);
    background-repeat: no-repeat;
}
#clear {
    width: 150px;
}
#inputText {
    color: #000000;
    text-shadow: 2px 2px 0px aliceblue;
    font-size: 48px;
    text-align: right;
    padding-right: 2px;
    margin-top: -5px;
}
button {
    width: 50px;
    height: 50px;
    border: 1px #2e8084 solid;
}
.operators, #equals {
    border-right: 2px #2e8084 solid;
}
#zero, #equals {
    border-bottom: 2px #2e8084 solid;
}
#zero, #one, #four, #seven, #clear {
    border-left: 2px #2e8084 solid;
}
#zero {
    width: 150px;
}
footer {
    margin-top:5px;
}
a {
    color: #f1f8c2;
}
