html, button {
    font-family: 'Rubik Mono One', sans-serif;
    color:antiquewhite;
}
body {
    background-color: #212121;
}
button{
    background-color: #05591c;
    border: 1px antiquewhite solid;
    font-size: larger;
}
button:disabled {
    background-color: #a31515;
    border: 1px black solid;
    font-size: larger;
}
.announcer {
   border: 1px black solid;
   padding: 20px;
}